[run]
source = app/api
branch = True
omit = 
    */tests/*
    */migrations/*
    */__pycache__/*
    */venv/*
    */.tox/*
    */site-packages/*
    */alembic/*

[report]
# Regexes for lines to exclude from consideration
fail_under = 80
show_missing = True
exclude_lines =
    # Have to re-enable the standard pragma
    pragma: no cover

    # Don't complain about missing debug-only code:
    def __repr__
    if self\.debug

    # Don't complain if tests don't hit defensive assertion code:
    raise AssertionError
    raise NotImplementedError

    # Don't complain if non-runnable code isn't run:
    if 0:
    if __name__ == .__main__.:

    # Don't complain about abstract methods
    @(abc\.)?abstractmethod

    # Don't complain about test code
    def test_

exclude_also =
    raise NotImplementedError
    if __name__ == .__main__.:
    pass
    raise ImportError

[html]
directory = htmlcov

[paths]
source =
    app/
    */Lead-Scraper/app/
